//- Page Header Component
.mb-8
  .flex.flex-col.md_flex-row.md_items-center.md_justify-between.gap-4
    div
      h1.text-3xl.font-bold.text-gray-900= pageTitle
      if pageDescription
        p.text-gray-600.mt-2= pageDescription

    if headerAction
      div
        block headerAction
